.header {
    background: $off-black;
    color: white;
    margin-bottom: $l-size;
    padding: $m-size 0 // top and bottom padding then no padding for left and right
}

// BEM = block element modifier naming convention
.header__title {
    font-size: $l-size;
    margin: 0;
}

.header__subtitle {
    color: $off-white;
    font-size: $m-size;
    font-weight: 500; // normal font weight
    margin: 0;
}

@media (min-width: $desktop-breakpoint) {
    .header{
        font-size: $l-size;
        margin-bottom: $xl-size;
    }
}