//rem has better support for accessibility
//1 rem = 16 pixels
//1 rem now = 10 pixels bc of the font-size part

html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
}